.title {
    padding-left: 50px;
    font-weight: 400;
}

.heading {
    color: #323232;
}

.heading:hover {
    color: #387ed1;
}

.col-4 a     {
    padding-left: 40px;
    line-height: 2.5;
    /* font-size: 16px; */
    text-align: center;
    font-weight: 500;
}